<h1>show event page</h1>



<p>
	<strong>Location:</strong> <%= @event.location %><br/> 
	<strong>Event Date:</strong> <%= @event.event_date %><br/> 
	<strong>Creator:</strong> <%= @user.username %>		
</p>